

/* Initialization of base parameters */
* {
    background-color: rgb(210, 210, 210, 1);
    margin: 0;
    padding: 0;
}

/* Positioning the information block on the page (Optional decision)*/
.root_block {
    display: block;
    width: 100%;
    height: 457px;
    background-color: rgb(12, 11, 16, 1);
    margin-top: 200px;
}

/* Formatting of visual style of information blocks */
.info_block {
    display: block;
    width: fit-content;
    height: 457px;
    margin: auto;
    background-color: rgb(12, 11, 16, 1);
}

.block_one {
    display: inline-block;
    width: 392px;
    height: 457px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(12, 11, 16, 1);
}

h2 {
    font-family: 'OpenSans_Regular';
    font-size: 24px;
    color: #ffffff;
    background-color: rgb(255, 255, 255, 0);
    margin-top: 51px;
}

hr {
    border: none;
    background-color: rgb(113, 197, 249, 1);
    color: rgb(255, 255, 255, 1);
    height: 2px;
    width: 240px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-family: 'OpenSans_Semibold';
    font-size: 14px;
    color: rgb(255, 255, 255, 1);
    background-color: rgb(255, 255, 255, 0);
    margin-top: 88px;
}

._blue {
    color: rgb(113, 197, 249, 1);
    background-color: rgb(255, 255, 255, 0);
}

.logo_Kasper {
    width: 120px;
    background-color: rgb(255, 255, 255, 0);
    margin-top: 120px;
}

.logo_Facebook,
.logo_Tweter,
.logo_Google,
.logo_Dribble {
    height: 15px;
    background-color: rgb(255, 255, 255, 0);
    margin-left: 15px;
    margin-right: 15px;
}

